; mos-override-vars.g
;
; This file can be used to override MillenniumOS settings after the
; mos-user-vars.g file has been loaded.

; Rename this file to mos-override-vars.g and reboot for the settings
; to be applied. This file will never be modified or overwritten by
; the MillenniumOS wizard so can be used to persist settings that
; won't need to change between MillenniumOS versions, such as corner
; names or surface names if your machine axes move in different
; directions to the defaults.

; Change corner and surface names so X surfaces move in the
; opposite direction.
if { exists(global.mosCornerNames) }
    set global.mosCornerNames = {"Front Right", "Front Left", "Back Right", "Back Left"}

if { exists(global.mosSurfaceNames) }
    set global.mosSurfaceNames = {"Right","Left","Front","Back","Top"}
