; mos-user-vars.g
;
; This file contains user variables for MillenniumOS. You must change
; these values to match your machine configuration.

; MillenniumOS uses the concept of features to enable or disable groups
; of functionality that rely on optional systems that may or may not
; be present on your machine. The following features are available:
; featureToolSetter - Controls the toolsetter feature
; featureTouchProbe - Controls the touch probe feature
; featureVSSC       - Controls the VSSC feature (enabled by default
;                     as it requires no extra hardware). Disable if
;                     you notice performance issues.

; Enable toolsetter and touch probe
set global.mosFeatureToolSetter=true
set global.mosFeatureTouchProbe=true

; Set Toolsetter trigger height, and X/Y coordinates
set global.mosToolSetterPos={0, 113}
;set global.mosToolSetterHeight=42.5 ; Height in mm from reference
                                  ; surface when toolsetter triggers.

; Set Toolsetter probe ID
set global.mosToolSetterID=1

; Set Touchprobe probe ID
set global.mosTouchProbeID=2

; Set Spindle ID
set global.mosSpindleID=1

; Set reference surface coordinates
set global.mosReferenceSurfacePos={0, 65}